node_modules/
**/node_modules/
target/
**/target/
services/Multitenant-User-Management-Service/target/
services/Portfolio-Backend-Service/tmp/
.next/
**/dist/
**/out/
**/build/
.git/
.env*
! .env.example
*.log
.DS_Store

# Secrets and sensitive data
secret/
services/Portfolio-Backend-Service/secret/
services/Multitenant-User-Management-Service/secret/
credentials.json
*.p12
*.pem

# Local DBs and Data
**/data/
**/tmp/
deployments/
*.sqlite
*.sqlite-journal
