node_modules
.next
out
.git
.idea
.vscode
*.log
services/Multitenant-User-Management-Service/target
services/Portfolio-Backend-Service/bin
services/Portfolio-Backend-Service/tmp
.env.prod
.env
node_modules
